{{#partial "titulo"}}Nueva Medicion{{/partial}}
<link rel="stylesheet" type="text/css" href="/stylesheets/nuevoTrayecto.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/tramos.css">

{{#partial "principal"}}
    <div class="recuadroChico">
        <div class="barraDeAvance">
            <div><h3> 1. Nombre: {{#if descripcionTrayecto}} {{descripcionTrayecto}} {{/if}}</h3></div>
            <div><h3> 2. Carga de tramos</h3></div>
        </div>


        <h1>Tramos del trayecto: {{trayecto.descripcionTrayecto}}</h1>
        <div class="tramos">
            {{#tramos}}
                <div class="tramo">
                    <div>
                        <h5><b>Origen</b></h5>
                        <h6> Direccion: {{origen.calle}} {{origen.altura}}, Localidad {{origen.localidad}}</h6>
                    </div>
                    <div>
                        <h5><b>Destino: </b></h5>
                        <h6> Direccion: {{destino.calle}} {{destino.altura}}, Localidad {{destino.localidad}}</h6>
                    </div>
                    <div>
                        <h5><b>Medio de transporte:</b></h5>
                        <h6> {{transporte.displayName}}</h6>
                    </div>
                </div>
            {{/tramos}}
        </div>

        <div>
            <a href="/trayectos/{{idTrayecto}}/tramos/medioTransporte">
                <input type='button' class="botones-call" name='nuevoTramo' value='Nuevo Tramo' >
            </a>
        </div>

        <div class="izquierdaYDerecha">
            <a>
                <form method="POST" action="/trayectos/{{idTrayecto}}">
                    <input type='submit' class="botones" name='trayectos' value='Cancelar'>
                </form>
            </a>
            <a href="/trayectos">
                <input type='button' class="botones" name='trayectos' value='Confirmar' >
            </a>
        </div>
    </div>
{{/partial}}

{{>layout.html.hbs}}